.EntryContainer {
    max-height: calc(100vh - 175px);
    overflow-y: auto;
    touch-action: none;
}

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}