.Entry-drag-handle {
    float: right;
    cursor: grab;
    color: #888;
  }
  
  @media only screen and (max-width: 600px) {
    .Entry-drag-handle, .Entry {
      cursor: pointer;
    }
  
    .Entry:hover {
      background-color: transparent;
    }
  }
  
  .Entry-expand-submenu {
      float: right;
  }
  
  .Entry-first-in-list {
    border-top: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .Entry-last-in-list {
    border: 0;
  }