.EntryContainer {
    max-height: calc(100vh - 190px);
    overflow-y: auto;
    touch-action: auto;
    scrollbar-width: thin;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .EntryContainer {
        max-height: calc(100vh - 250px);
    }
}