.App { 
  height: 100%;
  padding: 25px;
  background-color: #333;
  /* touch-action: none; */
  overflow: hidden;
}

.InputComponent {
  margin-top: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.Entry-drag-handle {
  float: right;
  cursor: grab;
  color: #888;
}

.ToggleButton {
  color: #000;
  display: block;
  float: left;
  margin-right: 10px;
  background-color: transparent;
  cursor: pointer;
}

.ToggleButton > .MuiSvgIcon-root {
  color: inherit;
}

.ToggleButton-checked {
  color: rgb(165, 165, 165);
  /* background-color: #000; */
}

.ToggleButton:hover {
  color: #444;
}